name: Deploy QA

on:
  workflow_dispatch:
    inputs:
      version:
        description: 'Version to deploy (e.g. 1.0.0)'
        required: true
        type: string

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository_owner }}/api-environment

jobs:
  deploy:
    uses: ./.github/workflows/deploy.yml
    with:
      environment: qa
      version: ${{ inputs.version }}
      image: ghcr.io/${{ github.repository_owner }}/api-environment:${{ inputs.version }}
    secrets: inherit
